.container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
  background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
  background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
}
/*
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
}
*/
.container h2 {
  position: absolute;
  top: 50%;
  line-height: 100px;
  height: 100px;
  margin-top: -50px;
  font-size: 100px;
  width: 100%;
  text-align: center;
  color: transparent;
  animation: blurFadeInOut 3s ease-in backwards;
}
.container h2.frame-1 {
  animation-delay: 0s;
}
.container h2.frame-2 {
  animation-delay: 2.5s;
}
.container h2.frame-3 {
  animation-delay: 5s;
}
.container h2.frame-4 {
  font-size: 200px;
  animation-delay: 7.5s;
}
.container h2.frame-5 {
  animation: none;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
}
.container h2.frame-5 span {
  animation: blurFadeIn 3s ease-in 12s backwards;
  color: transparent;
  text-shadow: 0px 0px 1px #fff;
}
.container h2.frame-5 span:nth-child(2) {
  animation-delay: 13s;
}
.container h2.frame-5 span:nth-child(3) {
  animation-delay: 14s;
}

@keyframes blurFadeInOut{
  0%{
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(0.9);
  }
  20%,75%{
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    transform: scale(0);
  }
}
@keyframes blurFadeIn{
  0%{
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(1.3);
  }
  50%{
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1.1);
  }
  100%{
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
}
@keyframes fadeInBack{
  0%{
    opacity: 0;
    transform: scale(0);
  }
  50%{
    opacity: 0.4;
    transform: scale(2);
  }
  100%{
    opacity: 0.2;
    transform: scale(5);
  }
}
/* forms, copy from bootstrap 4.5 */
.form-inline .custom-select, .form-inline .input-group {
    width: auto;
}
/* /forms */
/* menu decoration*/
.nav-item {
	padding-left: 0.2em;
	padding-right: 0.2em;	
}

.nav-item .nav-link {
	background-color: #000000;
	padding-top: 0.1em;
	padding-bottom: 0;
	border-width: 0.1em;
	border: 0.1em solid #000000;
}

.nav-item .nav-link:focus {
	border-color: #808080;
}

.nav-item .nav-link:hover {
	border-color: #808080;
	color: #FFFFFF;
}
/* /menu decoration*/
/* form decoration*/
.labels-10 .input-group .input-group-prepend .input-group-text {
	width: 10em;
}

.custom-switch {
	margin-left: 1em;
	margin-top: 0.5em;
}
/* /menu decoration*/
/* Form customization */
.row {
  --bs-gutter-x: 0;
}
.form-label {
    margin-bottom: 0;
}
/* datepicker customization */
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
}
/* /Form customization */
.btn-secondary:active {
  background-color: #000000;
}
.active {
  background-color: #000000;
}
.position-relative {
  position: relative;
}
button.glyphicon {
  top: 0;
  height: 100%;
}
label.glyphicon {
  top: 0;
  height: 100%;
  width: 100%;
}
.flex-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}